<div class="vida-top-bar--non-sticky">
  <div class="vida-top-bar__wrapper">
    <div class="vida-top-bar__container">
      <div class="vida-top-bar__title">
        <div class="vida-top-bar__title--twoline">
          New exciting prices. Starting at Rs.1,19,900/- <br>Reserve Now at 499/- Fully Refundable
        </div>
        <div class="vida-top-bar__link">
          <a href="vidaworld.com">
            <h2 class="vida-top-bar__allginment">Know more <i class="icon-arrow"></i></h2>
          </a>
          <a class="vida-top-bar__link-btn btn btn--secondary btn--action cta--anchor" href="/reserve.html">Reserve Now at 499/-</a>
          <span class="vida-top-bar__link-subtext">Fully Refundable</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vida-top-bar--theme-v1">
  <div class="vida-top-bar__wrapper">
    <div class="vida-top-bar__container">
      <div class="vida-top-bar__title">
        <div class="vida-top-bar__title--twoline">
          <p style="	text-align: center;" class="vida-top-bar__title--twoline--primary">
              <u>VIDA V1 Pro starting at&nbsp;<b></b>₹1,25,900*</b></u>
          </p>
          <p style="	text-align: center;" class="vida-top-bar__title--twoline--secandary">
            <b>*Price mentioned here is for Delhi. Net effective price will change as per the state subsidy.</b>
          </p>
        </div>
        <div class="vida-top-bar__link">
          <a href="vidaworld.com">
            <h2 class="vida-top-bar__allginment">Know more <i class="icon-arrow"></i></h2>
          </a>
          <a class="vida-top-bar__link-btn btn btn--secondary btn--action cta--anchor" href="/reserve.html">Reserve Now at 499/-</a>
          <span class="vida-top-bar__link-subtext">Fully Refundable</span>
        </div>
      </div>
    </div>
  </div>
</div>
