.vida-video-carosuel {
  position: relative;

  .vida-container {
    padding: 0;

    .tns-controls {
      .prev {
        left: 0;
        position: absolute;
        top: 50%;
        transform: rotate(180deg);
        z-index: 9;

        &::after {
          align-items: center;
          background: #00d5e5c7;
          border-radius: 50%;
          content: "";
          display: flex;
          font-family: icomoon;
          font-size: 40px;
          height: 50px;
          justify-content: center;
          left: -62px;
          position: absolute;
          rotate: -90deg;
          top: -50px;
          width: 50px;
        }
      }

      .next {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 9;

        &::after {
          align-items: center;
          background: #00d5e5c7;
          border-radius: 50%;
          content: "";
          display: flex;
          font-family: icomoon;
          font-size: 40px;
          height: 50px;
          justify-content: center;
          left: -62px;
          position: absolute;
          rotate: -90deg;
          top: 0;
          width: 50px;
        }
      }
    }

  }

  &__slider {
    margin-top: 70px;
  }

  .vida-video-player {
    &__playback {
      border-radius: 2rem;
      height: 500px;
      object-fit: cover;
      width: fill-available;
    }
  }

  .vida-asset-banner__media {
    // position: relative;
    // z-index: 9;
  }

  .tns-item:not(.tns-slide-active) + .tns-slide-active + .tns-slide-active { 
    transform: translateY(-50px);
    @include media(">=tablet") {
      transform: translateY(0); 
    }
  }
}

